---
import Layout from "../components/tailwindui/Layout.astro";
import SimpleLayout from "../components/tailwindui/SimpleLayout.astro";
import SpeakingAppearance from "../components/tailwindui/Speakings/SpeakingAppearance.astro";
import SpeakingSection from "../components/tailwindui/Speakings/SpeakingSection.astro";
import { listEndedEvents, listUpcomingEvents } from "../libs/microCMS/apis";
import type { MicroCMSEventsRecord } from "../libs/microCMS/types";
import { sortByEventDate } from "../libs/microCMS/utils";


const isOnlineEvent = (event: Pick<MicroCMSEventsRecord, 'place'>) => {
  if (!event.place) return false
  if (/オンライン/.test(event.place)) return true
  return /online/.test(event.place.toLocaleLowerCase())
}
const endedEvents = sortByEventDate(await listEndedEvents())
const upcomingEvents = sortByEventDate(await listUpcomingEvents())

---
<Layout>
<SimpleLayout
    title="I’ve spoken at events all around the world and been interviewed for many podcasts."
    intro="One of my favorite ways to share my ideas is live on stage, where there’s so much more communication bandwidth than there is in writing, and I love podcast interviews because they give me the opportunity to answer questions instead of just present my opinions."
>
    <div class="space-y-20">
        <SpeakingSection title="Upcoming">
            {upcomingEvents.map(event => {
                return (
                    <SpeakingAppearance
                        href={event.url}
                        title={event.session_title ?? event.title}
                        description={event.description}
                        event={event.session_title ? event.title : undefined}
                        cta={"Register"}
                    />
                )
            })}
        </SpeakingSection>
        <SpeakingSection title="Past">
            {endedEvents.map(event => {
                const url = event.blog_url ?? event.slide_url ?? event.url
                const ctaText = (() => {
                    if (event.blog_url) return 'Read blog'
                    if (event.slide_url) return 'View Slide'
                    return "Visit event page"
                })()
                return (
                    <SpeakingAppearance
                        href={url}
                        title={event.session_title ?? event.title}
                        description={event.description}
                        event={event.session_title ? event.title : undefined}
                        cta={ctaText}
                    />
                )
            })}
        </SpeakingSection>
    </div>
</SimpleLayout>
</Layout>