---
import Container from '../../components/tailwindui/Container.astro';
import Layout from '../../components/tailwindui/Layout.astro';
import { MicroCMSAPI } from '../../libs/microCMS/apis';
import { createCFMicroCMSClient } from '../../libs/microCMS/cloudflare';
import { removeHtmlTags } from '../../libs/sanitize';

/**
 * Static Page
 * This page will rebuild by the microCMS Webhook
 */
 export const prerender = true

export async function getStaticPaths() {
    const microCMS = new MicroCMSAPI(createCFMicroCMSClient(null))
    const projects = await microCMS.listAllProjects()
    return projects.map(project => {
        return {
            params: {
                slug: project.id,
            },
            props: {
                project
            }
        }
    })
}


export function formatDate(dateString: string, lang: string = 'en'): string {
    return new Date(`${dateString}`).toLocaleDateString(/ja/.test(lang) ? 'ja-JP' : 'en-US', {
      day: 'numeric',
      month: 'long',
      year: 'numeric',
      timeZone: 'UTC',
    })
  }
  
const { props: { project } } = Astro;
const title = `Project: ${project.title}`
---

<Layout title={title}>

    <Container class="mt-8 sm:mt-16">
        <div class="bg-white">
            <div class="mx-auto max-w-2xl px-4 pb-16 sm:px-6 sm:pb-24 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
              <!-- Product details -->
              <div class="lg:max-w-lg lg:self-end">
                <nav aria-label="Breadcrumb">
                  <ol role="list" class="flex items-center space-x-2">
                    <li>
                      <div class="flex items-center text-sm">
                        <a href="/projects" class="font-medium text-gray-500 hover:text-gray-900">Projects</a>
                        <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="ml-2 size-5 shrink-0 text-gray-300">
                          <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
                        </svg>
                      </div>
                    </li>
                    {project.project_type.map(type => (
                    <li>
                      <div class="flex items-center text-sm">
                        <a href="#" class="font-medium text-gray-500 hover:text-gray-900">{type}</a>
                        <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="ml-2 size-5 shrink-0 text-gray-300">
                          <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
                        </svg>
                      </div>
                    </li>
                    ))}
                  </ol>
                </nav>
          
                <div class="mt-4">
                  <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{project.title}</h1>
                </div>
          
                <section aria-labelledby="information-heading" class="mt-4">
                  <h2 id="information-heading" class="sr-only">Product information</h2>
          
                  <div class="flex items-center">
                    <p class="text-lg text-gray-900 sm:text-xl">Free to use</p>
          
                    {project.published_at ? ( 
                    <div class="ml-4 border-l border-gray-300 pl-4">
                      <h2 class="sr-only">Release date</h2>
                      <div class="flex items-center">
                        <p class="ml-2 text-sm text-gray-500">Released at {formatDate(project.published_at, 'en')}</p>
                      </div>
                    </div>
                    ) : null}
                  </div>
          
                  {project.about ? (
                    <div class="mt-4 space-y-6">
                        <p class="text-base text-gray-500">{removeHtmlTags(project.about)}</p>
                    </div>
                  ) : null}
          
                </section>
              </div>
          
              <!-- Product image -->
              <div class="mt-10 lg:col-start-2 lg:row-span-2 lg:mt-0 lg:self-center">
                <div class="shadow-lg px-8 py-8">
                    <img
                        src={project.image?.url}
                        alt="Model wearing light green backpack with black canvas straps and front zipper pouch." 
                        class="w-full rounded-lg object-cover"
                        width={project.image?.width}
                        height={project.image?.height}
                    >
                    <a
                        href={project.url}
                        target="_blank"
                        class="text-sm text-center block mt-4"
                    >{project.url}</a>
                </div>
              </div>
          
              <!-- Product form -->
              <div class="mt-10 lg:col-start-1 lg:row-start-2 lg:max-w-lg lg:self-start">
                <section aria-labelledby="options-heading">
                  <h2 id="options-heading" class="sr-only">Product info</h2>

                   <!-- project type -->
                    <div class="mt-8">
                      <div class="flex items-center justify-between">
                      <h2 class="text-sm font-medium text-gray-900">tools</h2>
                      </div>
      
                      <div class="grid grid-cols-3 gap-3 sm:grid-cols-4">
                          {project.tags.map(tag => {
                              return (
                              <div
                                  class="flex items-center justify-center rounded-md border px-3 py-3 text-sm font-medium  sm:flex-1">
                                  <span>{tag}</span>
                              </div>
                              )
                          })}
                      </div>
                  </div>
          
                    <div class="mt-10">
                      <a 
                        href={project.url}
                        target="_blank"
                        class="flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50"
                        >Visit application</a>
                    </div>
                    {false ? (
                    <div class="mt-6 text-center">
                      <a href="#" class="group inline-flex text-base font-medium">
                        <svg class="mr-2 size-6 shrink-0 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                        </svg>
                        <span class="text-gray-500 hover:text-gray-700">No longer maintained</span>
                      </a>
                    </div>
                    ): null}
                </section>
              </div>
            </div>
          </div>
          {project.background ? (
            <div class="mx-auto max-w-2xl px-4 pb-16 sm:px-6 sm:pb-24 lg:max-w-7xl">
              <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-3xl my-4">Background</h2>
              <div set:html={project.background} ></div>
            </div>
          ): null}
          {project.architecture ? (
            <div class="mx-auto max-w-2xl px-4 pb-16 sm:px-6 sm:pb-24 lg:max-w-7xl">
              <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-3xl my-4">Architecture</h2>
              <div set:html={project.architecture} ></div>
            </div>
          ): null}
    </Container>
</Layout>