---
import Layout from "../../components/tailwindui/Layout.astro";
import SimpleLayout from "../../components/tailwindui/SimpleLayout.astro";
import Card from "../../components/tailwindui/Card.astro";
import CardDescription from "../../components/tailwindui/Cards/CardDescription.astro";
import CardTitle from "../../components/tailwindui/Cards/CardTitle.astro";
import CardEyebrow from "../../components/tailwindui/Cards/CardEyebrow.astro";
import CardCta from "../../components/tailwindui/Cards/CardCta.astro";
import { listMyWordPressPlugins } from "../../libs/dataSources/wporg";

const plugins = (await listMyWordPressPlugins())
.map(plugin => {
    const {icons} = plugin
    return {
        ...plugin,
        icon: (() => {
            if (!icons) return null
            if (icons['2x']) return icons['2x']
            if (icons['1x']) return icons['1x']
            if (icons.default) return icons.default
            return null
        })()
    }
})

const formatDate = (dateString: string): string => {
    return new Date(`${dateString}`).toLocaleDateString('en-US', {
      day: 'numeric',
      month: 'long',
      year: 'numeric',
      timeZone: 'UTC',
    })
}
---

<Layout>
    <SimpleLayout
        title="Writing on software design, company building, and the aerospace industry."
        intro="All of my long-form thoughts on programming, leadership, product design, and more, collected in chronological order."
    >
    <div class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
        <div class="flex max-w-3xl flex-col space-y-16">
            {plugins.map((plugin) => (
                <section class="md:grid md:grid-cols-4 md:items-baseline">
                    <div class="order-first">
                  <CardEyebrow
                    as="time"
                    dateTime={plugin.added}
                    class="mt-1 hidden md:block"
                  >
                      {formatDate(plugin.added)}
                  </CardEyebrow>
                    <img
                        src={plugin.icon}
                        alt='plugin icon'
                        width={128}
                        height={128}
                        class='object-cover aspect-square'
                    />
                </div>
                  <Card class="md:col-span-3">
                    <CardTitle href={`https://wordpress.org/plugins/${plugin.slug}`}>
                      {plugin.name}
                    </CardTitle>
                    <CardEyebrow
                      as="time"
                      dateTime={plugin.added}
                      class="md:hidden"
                      decorate
                    >
                      {formatDate(plugin.added)}
                    </CardEyebrow>
                    <CardDescription>{plugin.short_description}</CardDescription>
                    <CardDescription>Version: {plugin.version}</CardDescription>
                    <CardDescription>Downloads: {plugin.downloaded.toLocaleString()}</CardDescription>
                    <CardCta>View plugin</CardCta>
                  </Card>
                </section>
            ))}
        </div>
    </div>
</SimpleLayout>
</Layout>